body
  font-family: Verdana, Tahoma, sans-serif

.cs-field
  background-color: lightblue
  width: 25px
  height: 25px
  text-align: center
  &.cs-visited
    background-color: green
    &.cs-empty
      background-color: grey
    &.cs-cena
      background-color: red
  > img
    width: 25px
    height: 25px