/*
 * @Author: hajnyon 
 * @Date: 2017-06-11 02:40:16 
 * @Last Modified by: hajnyon
 * @Last Modified time: 2017-06-11 02:45:47
 */

body
  font-family: Verdana, Tahoma, sans-serif

.cs-field
  background-color: lightblue
  width: 25px
  height: 25px
  text-align: center
  &.cs-visited
    background-color: green
    &.cs-empty
      background-color: grey
    &.cs-cena
      background-color: red
  &.cs-flagged
    background-color: purple
  > img
    width: 25px
    height: 25px
